* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: beige;
}

.player-selection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.content-con {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid-con > div {
    background-color: aliceblue;
    border: 2px solid black;
    width: 180px;
    height: 180px;
    font-size: 8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}
